<div class="row">
    <div class="col-md-4 separate-sections" style="margin-top: 5px;">

        <div vasabi-alarm="testing2">
            Some more content ...
        </div>


        <!--<div class="gridStyle" ng-grid="gridOptions">-->
        <!--</div>-->

        <!--<form>-->
            <!--<input type="text" id="name" ng-model="myForm.name" ng-minlength="5" ng-maxlength="12"> Name <br/>-->

            <!--<select ng-model="myForm.car">-->
                <!--<option value="nissan">Nissan</option>-->
                <!--<option value="toyota">Toyota</option>-->
                <!--<option value="fiat">Fiat</option>-->
            <!--</select>-->

            <!--<button ng-click="myForm.submitTheForm()">Submit Form</button>-->
        <!--</form>-->

        <!--<div>-->
            <!--{{myForm.name}}-->
        <!--</div>-->
        <!--<div>-->
            <!--{{myForm.car}}-->
        <!--</div>-->
    </div>
</div>

<div class="row">
    <div class="col-md-4 separate-sections" style="margin-top: 5px;">

        <div class="row">
            <div class="col-md-12">
                <div class="dashboard-stats">
                    <ul class="list-inline">
                        <li class="glyph"><i class="icon-bolt icon-2x"></i></li>
                        <li class="stats-label">Insider {{mySelections}}</li>
                    </ul>

                    <div class="progress">
                        <div class="progress-bar progress-blue tip" title="80%" data-percent="80"></div>
                    </div>

                    <div class="stats-label">Total Visits</div>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top:30px;">
            <div class="col-md-6">
                <div class="dashboard-stats small">
                    <ul class="list-inline">
                        <li class="glyph"><i class="icon-user"></i></li>
                        <li class="count">8800</li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-blue tip" title="65%" data-percent="65"></div>
                    </div>

                    <div class="stats-label">New Visitors</div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="dashboard-stats small">
                    <ul class="list-inline">
                        <li class="glyph"><i class="icon-eye-open"></i></li>
                        <li class="count">25668</li>
                    </ul>
                    <div class="progress">
                        <div class="progress-bar progress-blue tip" title="80%" data-percent="80"></div>
                    </div>
                    <div class="stats-label">Page Views</div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <div class="sine-chart" id="xchart-sine2"></div>
    </div>

</div>
