<settings>
<activeProfiles>
<activeProfile>cumulocity</activeProfile>
</activeProfiles>
  <profiles>
    <profile>
      <id>cumulocity</id>
      <repositories>
        <repository>
          <id>cumulocity-m2-repo</id>
          <url>http://download.cumulocity.com/maven/repository</url>
        </repository>
        <repository>
          <id>cumulocity-sdk-repo</id>
          <layout>p2</layout>
          <url>http://resources.cumulocity.com/p2/repository</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
</settings>