<%left_menu.each do |name, link|%>
    <li class="active">
      <span class="glow"></span>
      <a href="dashboard.html">
        <i class="icon-dashboard icon-2x"></i>
        <span><%=name%></span>
      </a>
    </li>
<%end%>

