<% if object.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <%= t2("The form contains the following errors")%>:
      <button type="button" class="close" data-dismiss="alert">×</button>
      <div class="box-content padded">
          <% object.errors.full_messages.each do |msg| %>
            <div>* <%= msg %></div>
          <% end %>
      </div>
    </div>
<% end %>