<li class="dropdown cdrop">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= t2("Language") %> <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><%= link_to_unless_current "English", locale: "en" %></li>
    <li><%= link_to_unless_current "Polski", locale: "pl" %></li>
    <li class="divider"></li>
    <li><%= link_to_unless_current t2("Default"), locale: "pl" %></li>
  </ul>
</li>
