<%= form_for(@micropost2) do |f| %>
  <%= render 'shared/error_messages', object: @micropost2 %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Compose new micropost...", :rows => 3 %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-primary" %>
<% end %>