<% provide(:title, @user.name) %>
<% provide(:selected_menu_icon, 'icon-user') %>
<div class="row">
  <div class="col-md-10">
    <div class="box">
      <div class="box-content">
        <%= render @user %>
        <div class="box-section">
          <%= render 'shared/stats' %>
        </div>
        <div class=box-section"">
          <%= render 'follow_form' if signed_in? %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10">

    <div class="box">
      <div class="box-content">
        <%= render 'shared/user_microposts' %>
      </div>
    </div>
  </div>
</div>