<% provide(:title, @title) %>
<% provide(:selected_menu_icon, 'icon-user') %>

<div class="row">
  <div class="col-md-10">
    <div class="box">
      <div class="box-content">
        <%= render @user %>
        <div class="box-section">
          <%= render 'shared/stats' %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if @users.any? %>
<div class="row">
  <div class="col-md-10">
    <div class="box">
      <div class="box-content">
        <%= render @users %>
      </div>
      <div>
        <%= will_paginate %>
      </div>
    </div>
  </div>
</div>
<% end %>