<% if signed_in? %>
    <div ng-view></div>
<% else %>
  <div class="center hero-unit">
    <h1><%= t2("WelcomeMessage") %></h1>

    <div>
        <%= link_to t2("Sign in"), signin_path, class: "btn btn-large btn-primary" %>
        <%= link_to t2("Sign up now!"), signup_path, class: "btn btn-large btn-primary" %>
    </div>
  </div>
<% end %>